---
import Layout from "../layouts/main.astro";
---

<Layout>
  <section class="text-gray-400 bg-gray-900 body-font">
    <div
      class="container mx-auto flex flex-col px-5 py-24 justify-center items-center"
    >
      <img
        class="lg:w-2/6 md:w-3/6 w-11/12 mb-10 object-cover object-center rounded"
        alt="hero"
        src="https://api.memegen.link/images/custom/404/Page_Not_Found.jpg?alt=https://i.imgur.com/CsCgN7Ll.png&width=400"
      />
      <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
        <h1 class="title-font sm:text-4xl text-5xl mb-4 font-medium text-white">
          The page you were looking for could not be located.
        </h1>
      </div>
    </div>
  </section>
</Layout>
